ipykernel==4.10.1
ipython==5.9.0
Keras==2.1.6
keras-importance-sampling==0.9
matplotlib==2.2.5
#mpi4py==3.0.3
opencv-python==4.2.0.32
openslide-python
pandas==0.24.2
pandocfilters==1.4.2
pydot==1.4.1
python-util
scikit-image==0.14.5
scikit-learn==0.20.4
setproctitle==1.1.10
statsmodels==0.11.0
tflearn==0.3.2