h5py==2.10.0
#horovod==0.19.5
ipykernel==4.10.1
ipython==5.9.0
Keras==2.1.6
keras-importance-sampling==0.9
matplotlib==2.2.5
mpi4py==3.0.3
#numpy==1.16.6
opencv-python==4.2.0.32
pandas==0.24.2
pandocfilters==1.4.2
#protobuf==3.11.2
pydot==1.4.1
scikit-image==0.14.5
scikit-learn==0.20.4
#scipy==1.2.3
setproctitle==1.1.10
statsmodels==0.11.0
tensorboard==1.14.0
#tensorflow-gpu==1.8.0
tflearn==0.3.2